<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

      <title>{{{title}}}</title>
      <meta name="Ferretería" content="Activemap Demo"/>
      <script src="/js/jquery-2.1.1.js"></script>
      <script src="/js/bootstrap.js"></script>
      <link href="/css/bootstrap.css" rel="stylesheet" />
      <link href="/css/main.css" rel="stylesheet"/>
      <link rel="stylesheet" href="/css/print.css" type="text/css" media="print" />
      <link rel="stylesheet" type="text/css" href="/css/bootstrap-spinedit.css" />
      <script type="text/javascript" src="/js/bootstrap-spinedit.js"></script>
      <script src="/js/script.js"></script>
      {{{head}}}
  </head>

  <body>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="col-md-9">
        <div class="navbar navbar-default" style="margin-top: 50px;" role="navigation">
          <div class="navbar-header">
            <span class="navbar-brand">Ferretería</span>            
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/products">Productos</a></li>
            <li><a href="/manufacturers">Fabricantes</a></li>
          </ul>
        </div>
        {{{body}}}
      </div>
    </div>
  </body>
</html>
