<h1>Fabricantes</h1>

{{{flash}}}


<div class="modal fade" id="manufacturerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="modalLabel">Fabricante</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<table class="table app-table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#contents}}
    <tr>
      <td>{{name}}</td>
      <td>
        <button type="button" class="btn btn-default btn-xs" onclick="fillModal('manufacturerModal', '/manufacturers/{{id}}')">
          <span class="glyphicon glyphicon-eye-open"></span>
        </button>
        <a href="/manufacturers/{{id}}/edit" class="btn btn-default btn-xs">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <form method="post" action="/manufacturers/{{id}}/delete">
          <button type="submit" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </form>
      </td>
    </tr>
    {{/contents}}
  </tbody>
</table>
<div>
  <a href="/manufacturers/new" class="btn btn-default">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
</div>
