table.table > tbody > tr > td > form {
    display: inline;
}

.app-table {
    border-bottom: medium solid black;
}

.error-label {
    color: #a94442;
    padding-top: 4px;
}

.spinner {
    width: 100px;
}

.spinner input {
    text-align: right;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i{
    position: absolute;
    top: 0;
    left: 4px;
}

.glyphicon-chevron-down:before {
    margin-left: -2px;
    vertical-align: middle;
}

.glyphicon-chevron-up:before {
    margin-left: -1px;
    vertical-align: middle;
}

.fake-label {
    font-weight: 700;
}

.field-data {
    display: inline-block;
    vertical-align: bottom;
    padding-top: 7px;
    margin-bottom: 0px;
}